.DS_Store
.env
node_modules/
commandResult.txt
*/**/package-lock.json
uploads/
uploads/profile-images/
cloud-run-admin-env.yaml
cloud-run-backend-env.yaml
cloud-run-frontend-env.yaml
cloud-run-python-service-env.yaml